#Ingreso de datos para la base de datos 
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_PORT=

#Ingresar los datos de correo electrónico para el envío de correos a los nuevos monitores
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
SECRET_KEY = 

