#Ingreso de datos para la base de datos 
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
# llenar el campo de URL de la base de datos con el formato adecuado, por ejemplo:
#postgresql://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>
DATABASE_URL= 

#Ingresar los datos de correo electrónico para el envío de correos a los nuevos monitores
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DJANGO_SECRET_KEY = 

#En este proyecto usamo una API de Ollama para la implementación de un modelo de lenguaje personalizado.
#Pero puedes poner el modelo que quieras, solo asegúrate de actualizar la lógica de conexión en el código.
OLLAMA_API_KEY =
